/* Fonts */
@font-face{
	font-family: 'Arial Narrow';
	src: url('../fonts/ARIALNB.TTF');
}
@font-face{
	font-family: 'Arial';
	src: url('../fonts/ArialRegular.ttf');
}
@font-face{
	font-family: 'Mont Extralight';
	src: url('../fonts/Montextralightdemo.ttf');
}
@font-face{
	font-family: 'Mont Heavy';
	src: url('../fonts/Montheavydemo.ttf');
}
@font-face{
	font-family: 'Montserrat Bold';
	src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face{
	font-family: 'Montserrat Medium';
	src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face{
	font-family: 'Montserrat SemiBold';
	src: url('../fonts/Montserrat-SemiBold.ttf');
}
@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf');
}
/* Fonts */

/* Scpecification */
*{
	padding: 0;
	margin: 0;
	line-height: 1;
}
body{
	background-image: url('../img/header-bg.png');
	background-size: 100% 113%;
	background-repeat: no-repeat;
	background-position: 0 0.1vh;
	background-attachment: fixed;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
input, button, a, img{
	display: block;
}
input:focus, button:focus{
	outline: none;
}
button:hover, a:hover{
	cursor: pointer;
}
.container{
	margin: auto;
	display: flex;
	width: 60.94%;
}
/* Scpecification */
/* Header */
body.lock{
	overflow: hidden;
}
.header{
	position: relative;
	padding-top: 100px;
	height: 150vh;
	background: transparent;
}
.menu{
	position: fixed;
	padding-top: 40vh;
	top: -100px;
	left: -100%;
	display: block;
	text-align: center;
	width: 100%;
	height: 100vh;
	background-color: rgba(254, 102, 0, 0.7); 
	z-index: 3;
	transition: all 0.3s ease;
}
.menu.active{
	left: 0%;
}
.menu__link{
	font-size: 22px;
	color: #fff;
	font-family: 'Montserrat Bold';
	line-height: 40px;
	transition: all 0.3s ease;
	width: 12%;
	margin: auto;
	border-bottom: 2px solid transparent;
}
.menu__link:hover{
	border-bottom: 2px solid #fff;
}
.menu-container{
	width: 80%;
	justify-content: space-between;
	align-items: center;
}
.burger{
	position: relative;
	border: 3px solid #fa7f43;
	border-radius: 5px;
	height: 48px;
	width: 70px;
	padding: 11px 7px;
}
.burger.active .humburger::before{
	transform: rotate(-45deg);
	background-color: #fff;
	top: 0;
}
.burger.active .humburger::after{
	transform: rotate(45deg);
	background-color: #fff;
	bottom: 0;
}
.burger.active{
	border: none;
	left: -10%;
}
.burger.active .humburger{
	background-color: transparent;
}
.humburger{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
}
.humburger, .humburger::before, .humburger::after{
	position: absolute;
	width: 68px;
	height: 6px;
	border-radius: 3px;
	background-color: #fa7f43;
}
.humburger::before{
	content: '';
	top:21px;
}
.humburger::after{
	content: '';
	bottom: 21px;
}
/* Header */
/* Text-section */
.text-section{
	position: absolute;
	top: calc(150vh + 100px);
	transform: translateY(-100%);
	width: 100%;
	background-color: rgba(138, 182, 242, 0.75);
	color: #fff;
	font-size: 35px;
	padding: 100px 0;
}
.text-container{
	display: block;
}
.main-text{
	font-family: 'Montserrat Medium';
	line-height: 1.2;
}
.bold-text{
	display: flex;
	font-family: 'Montserrat Bold';
	text-transform: uppercase;
	margin: 50px 0 0 0;
	line-height: 1.2;
}
.bold-text-p1{
	margin-left: 30px;
}
.bold-text-p2{
	margin-left: 47px;
}
/* Text-section */
/* Floor-section */
.floor-section{
	padding: 120px 0;
	background-color: rgba(255, 255, 255, 0.7);
}
.floor-img{
	width: 69.27%;
	margin: auto;
}
.floor-img img{
	display: block;
	max-width: 1290px;
	height: 100%;
	margin: auto;
}
/* slider */
.arrow{
	font-size: 160px;
	color: #c9867f;
}
.arrow:hover{
	color: #c13021;
}
.r-arrow{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.l-arrow{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.slick-slide{
	padding: 10px;
}
.slick-slide:focus, .slick-initialized:focus, .slick-dotted:focus{
	outline: none;
}
.slick-dots{
	transform:translateY(200%);
}
.slick-dots li button::before{
	font-size: 0;
}
.slick-dots li button{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	background-color: #73a7ef;
	font-size: 0;
}
.slick-dots li{
	margin-right: 60px;
}
.slick-dots .slick-active button{
	background-color: #2d7be8;
}
/* Floor-section */
/* Features */
.features{
	position: relative;
	width: 100%;
	padding: 70px 0;
	background-color: rgba(254, 102, 0, 0.7);	
}
.features-title{
	color: #ffcaa6;
	text-transform: uppercase;
	border: 15px solid #ffcaa6;
	box-sizing: border-box;
	font-size: 100px;
	width: 80%;
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Mont Heavy';
	padding: 10px 15px;
}
.features-container{
	justify-content: space-between;
	width: 80.47%;
	margin-left: 19.53%;
}
.features__card{
	display: flex;
	justify-content: space-between;
}
.cards__block{
	width: 70%;
	margin-top: 30px;
}
.features__cards{
	width: 30%;
	transition: all 0.3s ease;
}
.features__cards:hover{
	transform: scale(1.1);
}
.card__title{
	text-align: center;
	font-family: "Montserrat SemiBold";
	font-size: 26px;
	margin-bottom: 30px;
	color: #fff;
}
.card__img{
	width: 100%;
	border-radius: 10px;
}
.features-logo{
	margin-top: 70px;
	width: 20.7%;
	padding-left: 2.3%; 
}
.features-logo img{
	width: 100%;
	display: block;
}

/*modal*/
.video__div{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 100vh;
	padding: 50px 0;
	background-color: rgba(0,0,0,0.5);
}
.video-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 60%;
	height: auto;
}
.video__div video{
	width: 100%;
}
.video-close{
	position: relative;
	z-index: 5;
}
.video-close .close{
	position: absolute;
	right: 0%;
	top:0;
	transform: translate(100%, -100%);
}
/*modal*/
/* Features */
/* Donate */
.donate{
	padding: 100px 0;
	background-color: rgba(255, 255, 255, 0.7);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.donate-wrap{
	margin-left: 8.85%;
	display: flex;
	align-items: flex-start;
}
.donate-hr-img{
	display: block;
	width: 100%;
	margin-top: 40px;
}

.text-block{
	font-family: 'Montserrat Medium';
	font-size: 30px;
	color: #fff;
	background-color: rgba(140, 139, 176, 0.8);
	text-align: left;
	padding:0 10px;
}
.form-wrap{
	margin-top: 65px;
}
.btn-container{
	justify-content: space-between;
	width: 100%;
}
.donate-btn{
	text-align: center;
	width: 6.77%;
	padding: 24.5px 0;
	border-radius: 3px;
	background-color: rgba(46, 43, 112, 0.8);
	border: none;
	color: #fff;
	font-family: 'Montserrat Bold';
	font-size: 22px;
	line-height: 1;
	transition: all 0.3s ease;
	border: 2px solid rgba(46, 43, 112, 0.8);
}
.donate-btn:hover{
	color: rgba(46, 43, 112, 0.8);;
	background-color: rgba(255, 255, 255, 0.8);
}
.other-btn{
	padding-left: 45px;
	padding-right: 45px;
	width: auto;
}
.sm{
	display: none;
}
.bill-container{
	width: 100%;
}
.billing-title{
	text-align: center;
	margin: 95px 83px;
	font-family: 'Montserrat SemiBold';
	font-size: 26px;
	color: #2e2b70;
	width:100%;
}
.form-container{
	justify-content: space-between;
	width: 100%;
}
.form-block{
	width: 48%;
}
.form-block input{
	width: 100%;
	box-sizing: border-box;
	padding: 25px 20px;
	border: 2px solid #2e2b70;
	border-radius: 3px;
	background: transparent;
	margin-top: 27px;
	color: #2e2b70;
	font-family: 'Montserrat Medium';
	font-size: 22px;
}
.form-block input::-webkit-input-placeholder{
	color: #2e2b70;
	font-family: 'Montserrat Medium';
	font-size: 22px;
	transition: all 0.3s ease;
}
.form-block input::-moz-placeholder{
	color: #2e2b70;
	font-family: 'Montserrat Medium';
	font-size: 22px;
	transition: all 0.3s ease;
}
.form-block input:-moz-placeholder{
	color: #2e2b70;
	font-family: 'Montserrat Medium';
	font-size: 22px;
	transition: all 0.3s ease;
}
.form-block input:-ms-input-placeholder{
	color: #2e2b70;
	font-family: 'Montserrat Medium';
	font-size: 22px;
	transition: all 0.3s ease;
}
.form-block input:focus::-webkit-input-placeholder{
	color: transparent;
}
.form-block input:focus::-moz-placeholder{
	color: transparent;
}
.form-block input:focus:-moz-placeholder{
	color: transparent;
}
.form-block input:focus:-ms-input-placeholder{
	color: transparent;
}
.pay-block{
	margin: auto;
	width: 100%;
}
.p-method{
	text-align: center;
	margin: 100px 0 55px;
	width: 100%;
	font-family: 'Montserrat SemiBold';
	font-size: 35px;
	color: #2e2b70;
}
.pay-container{
	justify-content: center;
	width: 100%;
}
.left-img{
	margin-right: 10.43%;
}
/* Donate */
/* Contact */
.contact{
	padding: 72px 0;
	background-image: url('../img/contact-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.idea-img-hr{
	display: block;
	width: 70%;
	margin-bottom: 30px;
}
.contact-wrap{
	margin-left: 5.94%;
	align-items: flex-start;
}
.contact-block{
	box-sizing: border-box;
	width: 60.94%;
	margin:auto;
	padding: 35px 75px;
	border: 5px solid #2e2b70;
}
.title{
	font-family: 'Arial';
	font-size: 56px;
	color: #2e2b70;
	margin-bottom: 25px;
}
.fr-input, .massege, .email{
	width: 76.5%;
	margin: 0;
}
.contact input, .contact textarea{
	border: none;
	background-color: #fef27f;
	font-family: 'Arial Narrow';
	font-size: 36px;
	color: #958e77;
	padding: 15px 25px;
	letter-spacing: 1.5px;
	box-sizing: border-box;
}
.contact textarea:focus{
	outline: none;
}
.fr-input{
	justify-content: space-between;
	margin-bottom: 10px;
}
.name, .phone{
	width: 48.36%;
	padding: 15px 25px;
}
.email{
	align-items: baseline;
	margin-bottom: 25px;
}
#ms-input{
	width: 100%;
	height: 320px;
	margin-bottom: 10px;
}
.ms-input::-webkit-input-placeholder{
	transform: translateY(-300%);
}
.e-input{
	width: 73.36%;
	margin-right: 3.9%;
}
.send-btn{
	width: 26.5%;
	padding: 22px 0;
	text-align: center;
	color: #fff;
	background-color: #2e2b70;
	font-family: 'Arial';
	font-size: 36px;
	font-weight: bold;
	border: none;
	transition: all 0.3s ease;
}
.send-btn:hover{
	color: #2e2b70;
	background-color: #fff;
}
.mail-to{
	background-color: rgba(213, 99, 56, 0.8);
	color: #fef27f;
	font-family: 'Arial';
	font-size: 50px;
	font-weight: bold;
	border: none;
	padding: 15px 35px;
	margin-bottom: 35px;
}
.adrs{
	font-family: 'Arial';
	font-weight: 400;
	font-size: 40px;
	color: #2e2b70;
	line-height: 45px;
}
.icon-block{
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.icon-img{
	margin-right: 4.93%;
	width: 80%;
}
/* Contact */
/* About */
.about{
	position: relative;
	padding: 100px 0;
	background-color: rgba(239, 239, 21, 0.9);
}
.about__title{
	color: #fff;
	font-size: 100px;
	font-family: 'Mont Heavy'; 
	margin-bottom: 30px;
}
.about__wrap{
	display: flex;
	align-items: flex-start;
}
.about-wrap{
	display: flex;
	margin-left: 6.42%;
	width: 9%;
}
.about-title-one{
	color: #2e2b70;
	text-transform: uppercase;
	width: 56px;
	display: inline-block;
	transform-origin: 0 0;
	transform: rotate(-90deg);
	margin-top: 456px;
	font-size: 56px;
	font-family: 'Mont Extralight'; 
}
.about-title-one span{
	font-family: 'Mont Heavy';
}
.about-title-two{
	color: #fff;
	font-size: 32px;
	font-family: 'Mont Heavy'; 
	display: inline-block;
	transform-origin: 0 0;
	text-align: right;
	transform: rotate(-90deg);
}
.wrap-one{
	width: 32px;
	height: 170px;
	margin-left: 40px;
}
.wrap-one p{
	margin-top: 134px;
}
.wrap-two{
	width: 32px;
	height: 310px;
}
.wrap-two p{
	margin-top: 303.56px;
	width: 303.56px;
}
.about-text-wrap{
	width: 31.6%;
	margin-right:5.42%;
	margin-left: 4.42%;
}
.about-text-wrap{
	color: #2e2b70;
	font-family: 'Montserrat Medium';
	font-size: 22px;
}
.about-text-wrap p{
	line-height: 30px;
}
.about-text{
	margin-bottom: 44px;
}
.text-bottom{
	margin-bottom: 44px;
}
.asu-img{
	float: right;
}
.about-img{
	padding-bottom: 1%;
	margin-bottom: 25px;
	background-image: url("../img/man1.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.about-border{
	padding-top: 100%;
	width: 93%;
	border: 5px solid #2e2b70;
}
/*.contact-img{
	position: absolute;
	top: 25px;
	left: 25px;
	width: 100%;
}*/
.about-contact-wrap{
	width: 24%;
}
.about-contact-btn{
	color: #2e2b70;
	text-transform: uppercase;
	font-family: 'Montserrat Bold';
	font-size: 22px;
	padding: 18px 32px;
	border: 5px solid #2e2b70;
	background-color: transparent;
	transition: all 0.3s ease;
}
.about-contact-btn a{
	color: #2e2b70;
}
.hidden{
	display: none;
}
.about-contact-btn:hover{
	color: #fff;
	border: 5px solid #fff;
	background-color: #2e2b70;
}
.about-contact-btn:hover a{
	color: #fff;
}
/*overlay*/
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;

}
.overlay-wraper{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5)
}
.overlay-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 40px;
	box-sizing: border-box;
	width: 90%;
	margin: auto;
	background-color: #FEEC00;
}
.nlp{
	width: 40%;
	margin:0 0 20px 0;
}
.wash{
	position: absolute;
	right: 0;
	transform: translate(-45%, -5%);
	width: 15%;
	height: auto;
}
.wash-img{
	width: 100%;
}
.contact-wrap__block{
	box-sizing: border-box;
	width: 90%;
	border: 5px solid #2e2b70;
	padding: 20px 40px;
	margin: auto;
}
.contact-form__block{
	display: flex;
	justify-content: space-between;
}
.form__block, .mail__block{
	width: 45%;
}
.form__inputs{
	display: flex;
	justify-content: space-between;
}
.form__inputs input{
	width: 48%;
}
.form__title{
	font-family: 'Arial';
	font-size: 36px;
	color: #2e2b70;
	margin-bottom: 15px;
}
.overlay-wrap input, .overlay-wrap textarea{
	border: none;
	background: transparent;
	font-family: 'Arial Narrow';
	font-size: 16px;
	color: #958e77;
	padding: 5px 10px;
	letter-spacing: 1.5px;
	border: 2px solid #2e2b70;
	box-sizing: border-box;
}
.overlay-wrap textarea{
	width: 100%;
	margin-top: 5px;
}
.overlay-wrap textarea:focus{
	outline: none;
}
.title-wrap{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	aligne-items: flex-start;
}
.container-email{
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	aligne-items: center;
}
.e__input{
	width: 75%;
}
.send__btn{
	width: 15%;
	text-align: center;
	color: #fff;
	background-color: #2e2b70;
	font-family: 'Arial';
	font-size: 16px;
	font-weight: bold;
	border: none;
	transition: all 0.3s ease;
}
.send__btn:hover{
	color: #2e2b70;
	background-color: #fff;
}
.mail__block .mail-to{
	background: transparent;
	color: #BE2025;
	font-weight: 600;
	padding: 0;
	font-size: 35px;
	display: flex;
	padding: 5px 5px;
	margin-bottom: 0;
}
.mail-to img{
	height: 30px;
	margin-right: 5px;
}
.mail__block .adrs{
	font-size: 25px;
	line-height: 1.2;
}
.close-c{
	position: relative;
	width: 30px;
	height: 30px;
}
.close:before{
	content:"";
	position: absolute;
	transform: rotate(45deg);
	width: 30px;
	height: 3px;
	background-color: #fff;
	cursor: pointer;
}
.close:after{
	content:"";
	position: absolute;
	transform: rotate(-45deg);
	width: 30px;
	height: 3px;
	background-color: #fff;
	cursor: pointer;
}
/* About */
/* Footer */
.footer{
	background-image: url(../img/footer-bg.png);
	background-size: cover!important;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0;
}
.footer-container{
	justify-content: flex-end;
	color: #fff;
	font-family: 'Montserrat Medium';
	font-size: 18px;
	width: 60.94%;
}
.navigation, .contact-us, .connected{
	margin-left: 6%;
}
.footer-container h3{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Montserrat SemiBold';
	font-size: 22px;
	color: #fff;
	margin-bottom: 22px;
}
.footer-container p{
	line-height: 36px;
}
.footer-container a{
	line-height: 36px;
	color: #fff;
}
.contact-title{
	margin-left: 7.3%;
}
.adress-block{
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
}
.centered{
	align-items: center;
}
.centered img{
	padding-top: 0;
}
.adress-block p{
	line-height: 1.5;
}
.adrs-icon{
	margin: 8px 8px 0 0;
}
.e-icon{
	width: 26px;
	border-radius: 2px;
	border: 1px solid #fff;
}
.call-span{
	padding-right: 24px;
}
.icon-mail{
	padding-right: 12px;
	font-size: 22px;
}
/* Footer */
/* Responsive design */
@media screen and (max-width: 1600px){
	.logo{
		width: 400px;
	}
	.donate-btn{
		padding: 27px 0;
		width: 8%;
		font-size: 20px;
	}
	.floor-img img{
		width: 1030px;
	}
	.arrow{
		font-size: 120px;
	}
	.cad-title{
		font-size: 22px;
	}
	.other-btn{
		padding-left: 25px;
		padding-right: 25px;
		width: auto;
	}
	.wash{
		transform: translate(-50%, -4%);
	}
	.wrap-one{
		width: 32px;
		height: 170px;
		margin-left: 20px;
	}
	.text-section{
		font-size: 28px;
		padding: 50px 0;
	}
	.footer-container h3{
		font-size: 20px;
	}
	.footer-container{
		font-size: 16px;
	}

}
@media screen and (max-width: 1368px){
	.wash{
		transform: translate(-52%, -3%);
	}
	
}
@media screen and (max-width: 1200px){
	.container{
		max-width: 960px;
	}
	.logo{
		width: 370px;
	}
	.floor-img img{
		width: 900px;
	}
	.arrow{
		font-size: 80px;
	}
	.fr-input, .massege, .email{
		width: 100%;	
	}
	.cad-title{
		font-size: 20px;
	}
	.features-title{
		font-size: 65px;
	}
	.card__title{
		font-size: 22px;
	}
	.text-block{
		font-size: 22px;
	}
	.donate-btn{
		padding: 15.5px 0;
		width: 8%;
		font-size: 16px;
	}
	.other-btn{
		padding-left: 15px;
		padding-right: 15px;
		width: auto;
	}
	.contact input, .contact textarea{
		font-size: 28px;
	}
	.send-btn{
		font-size: 24px;
		padding: 16px 26px;
	}
	.mail-to{
		font-size: 40px;
		padding: 10px 25px;
	}
	.adrs{
		font-size: 30px;
		line-height: 35px;
	}
	.about__title{
		font-size: 80px;
	}
	.about-title-one{
		font-size: 46px;
		margin-top: 372px;
	}
	.about-title-two{
		font-size: 26px;
	}
	.wrap-one p{
		margin-top: 109px;
	}
	.about-text-wrap{
		font-size: 16px;
	}
	.footer-container h3{
		font-size: 16px;
		margin-bottom: 22px;
	}
	.footer-container p{
		line-height: 26px;
	}
	.footer-container a{
		line-height: 26px;
	}
	.footer-container{
		font-size: 12px;
	}
	.text-section{
		font-size: 26px;
	}
	.text-container{
		width: 70%;
	}
	.e__input{
		width: 60%;
	}
	.send__btn{
		width: 35%;
	text-align: center;
	color: #fff;
	background-color: #2e2b70;
	font-family: 'Arial';
	font-size: 16px;
	font-weight: bold;
	border: none;
	transition: all 0.3s ease;
	}
	.wash{
		transform: translate(-54%, -2%);
	}
	
}
@media screen and (max-width: 992px){
	body{
		background-size: 100% 110%;
		background-position: center top;
	}
	.card__title {
    	font-size: 18px;
	}
	.container{
		max-width: 700px;
	}
	.logo {
    	width: 290px;
	}
	.burger {
   		border: 2px solid #fa7f43;
    	height: 30px;
   		width: 52px;
   		padding: 6px 3px;
	}
	.humburger, .humburger::before, .humburger::after{
		width: 48px;
		height: 4px;
		left: 50%;
		transform: translate(-50%, -50%);

	}
	.humburger::before{
		transform: translate(-50%, -20%);
		top: 11px;
	}
	.humburger::after{
		transform: translate(-50%, 20%);
		bottom: 11px;
	}
	.floor-img img{
		width: 700px;
	}
	.arrow{
		font-size: 60px;
	}
	.features-title{
		font-size: 50px;
		border: 10px solid #ffcaa6;
	}
	.cad-title{
		font-size: 18px;
	}
	.text-block {
    	font-size: 18px;
	}
	.donate-btn {
    	padding: 14.5px 0;
    	font-size: 13px;
	}
	.about__title{
		font-size: 60px
	}
	.title {
    	font-size: 40px;
	}
	.contact input, .contact textarea{
		font-size: 22px;
	}
	.send-btn{
		font-size: 18px;
		padding: 12px 22px;
	}
	.mail-to{
		font-size: 30px;
		padding: 7px 17px;
	}
	.adrs{
		font-size: 22px;
		line-height: 27px;
	}
	.about__title{
		font-size: 70px;
	}
	.about-title-one{
		font-size: 38px;
		margin-top: 315px;
	}
	.about-title-two{
		font-size: 22px;
	}
	.wrap-one p {
   	    margin-top: 93px;
	}
	.wrap-one {
		margin-left: 0px;
	}
	.about-text-wrap p{
		font-size: 14px;
		line-height: 24px;
	}
		.about-text {
    	margin-bottom: 24px;
	}
	.about-contact-btn{
		padding: 12px 26px;
		font-size: 18px;
	}
	.mail__block .adrs{
		font-size: 18px;
		line-height: 1.2;
	}
	.form__title{
		font-size: 26px;
	}
	.mail__block .mail-to{
		font-size: 25px;
		padding: 5px 5px;
	}
	.wash{
		transform: translate(-60%, -1%);
	}
	
}
@media screen and (max-width: 768px){
	body{
		background-size: cover;
		background-position: center top;
	}
	.header{
		position: relative;
		padding-top: 100px;
		height: 120vh;
		background: transparent;
	}
	.container {
    	max-width: 80%;
	}
	.logo {
    	width: 40%;
	}
	.text-section{
		font-size: 18px;
		top: calc(120vh + 100px);
	}
	.floor-img img{
		width: 90%;
	}
	.arrow{
		font-size: 0px;
	}
	.slick-dots{
		display: flex;
		justify-content: center;
	}
	.slick-dots li{
		margin: 0 5.536%;
	}
	.features-wrap{
		display: block;
	}
	.card__title{
		font-size: 18px;
	}
	.features-title{
		font-size: 40px;
	}
	.features{
		padding: 50px 0;
	}
	.features-container{
		justify-content: center;
		margin: auto;
	}
	.cards-container{
		margin:0;
		width: 70%;
	}
	.features-logo{
		display: none;
	}
	.card-img{
		width: 100%;
	}

	.features-card{
		padding: 30px 50px;
	}
	.cards-container{
		padding: 0;
	}
	.cad-title{
		margin-bottom:30px;
	}
	.floor-section{
		padding: 50px 0;
	}
	.slick-dots {
    transform: translateY(35%);
	}
	.slick-dots li button{
		width: 52px;
		height: 52px;
	}  
	.features-dots{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 90%);
		display: flex;
		justify-content: center;
	}
	.features-dots li button{
		width: 52px;
		height: 52px;
		border: none;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.7);
		font-size: 0;
	}
	.features-dots li{
		margin: 10%;
	}
	.features-dots .slick-active{
		background-color: #fff;
		border-radius: 50%;
	}
	.donate-wrap{
		flex-direction: column;
		margin: auto;
		width: 90%;
	}
	.donate-hr-img{
		display: block;
		width: 100%;
		margin: 20px auto 0;
	}
	.donate-img{
		display: none;
	}
	.text-wrap{
		width: 100%;
	}
	.text-block{
		font-size: 24px;
	}
	.form-wrap{
		width: 70%;
		margin: auto;
	}
	.btn-container{
		flex-wrap: wrap;
		margin-top: 30px;
	}
	.donate-btn {
		width: 32%;
    	padding: 48px 0;
    	font-size: 34px;
    	margin-bottom: 10px;
	}
	.pay-block{
		display: none;
	}
	.sm{
		display: block;
	}
	.lg{
		display: none;
	}
	.contact-wrap{
		flex-direction: column;
		margin: 0;
		width: 100%;
	}
	.contact-block{
		width: 80%;
		margin: 30px auto 0;
		padding: 10px 30px;
	}
	.idea-img{
		display: none;
	}
	.idea-container{
		width: 80%;
	}
	.idea-img-hr{
		display: block;
		width: 70%;
		margin-left: 0;
		margin-bottom: 0;
	}
	.about{
		flex-wrap: wrap;
		padding: 50px 40px;
		justify-content: space-between;
	}
	.about__title{
		font-size: 40px
	}
	.about__wrap{
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.about-wrap{
		order: 1;
		margin-left: 0;

	}
	.about-text-wrap{
		width: 100%;
		order: 3;
		margin-left: 17.6%;
		margin-top: 25px;
		
	}
	.about-text-wrap p{
		font-size: 16px;
		line-height: 24px;
	}
	.about-contact-wrap{
		width: 47.6%;
		order: 2
	}
	.footer{
		padding: 50px 0;
	}
	.footer-container{
		flex-wrap: wrap;
		width: 80%;
	}
	.navigation, .contact-us, .connected{
		width: 100%;
		margin-left: 0%;	
	}
	.footer-container h3{
		font-size: 28px;
		border-bottom: 4px solid #fff;
		margin-bottom: 12px;
		padding-bottom: 12px;
	}
	.contact-title{
		margin-left: 0;
	}
	.nav-list, .adress-block{
		display: none;
		font-size: 23.5px;
		margin-bottom: 20px;
	}
	.send-btn {
    	font-size: 16px;
    	padding: 12px 0;
	}
	footer h3{
		position: relative;
	}
	  footer h3::before {
        content: "+";
        position: absolute;
        right: 0;
        color: #fff;
        font-size: 28px;
        border: 2px solid #fff;
        border-radius: 100px;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        bottom: 5px;
    }
     footer h3.active::before{
     	 content: "-";
     	 line-height: 30px;
     }
     .footer-container p {
    line-height: 40px;
}
.footer-container a {
    line-height: 40px;
}
	.contact-form__block{
		flex-wrap: wrap;
	}
	.form__block, .mail__block{
		width: 100%;
	}
	.mail__block{
		margin-top: 10px;
	}
	.wash{
		transform: translate(-68%, 3%);
	}
	.slick-slide{
		margin: 0 45px;
	}
	.contact-wrap__block{
		border: 3px solid #2e2b70;
	}
}
@media screen and (max-width: 574px){
	.text-section{
		top: calc(120vh + 20px);
	}
	.header{
		padding-top: 20px;
	}
	body{
		-webkit-background-size: 120% 110%;
  		-moz-background-size: 120% 110%;
  		-o-background-size: 120% 110%;
  		background-size: 120% 110%;
	}
	.container{
		max-width: 100%;
	}
	.logo{
		width: 45%;
	}
	.text-section{
		font-size: 14px;
	}
	.main-text{
		line-height: 1.2;
	}
	.slick-dots li button{
		width: 30px;
		height: 30px;
	}
	.features-dots li button{
		width: 30px;
		height: 30px;
	}
	.features-block{
		border: 5px solid #ffcaa6;
	}  
	.features-title{
		font-size: 30px;
		width: 100%;
	}
	.text-block {
    	font-size: 18px;
	}
	.donate-btn {
    	width: 32%;
    	padding: 34px 0;
    	font-size: 20px;
	}
	.title {
    	font-size: 30px;
	}
	.contact input, .contact textarea {
    	padding: 5px 10px;
    	font-size: 16px;
	}
	.send-btn {
    	font-size: 14px;
    	padding: 6px 0;
	}
	.mail-to {
    	font-size: 26px;
    	padding: 10px 26px;
	}
	.about-wrap{
		order: 1;
		margin-left: 0;
		width: 28px;
	}
	.about-title-one{
		font-size: 28px;
		margin-top: 235px;
		width: 28px;
		height: 28px;
	}
	.about-title-two{
		font-size: 16px;
	}
	.wrap-one {
    width: 16px;
    height: 170px;
    margin-left: 20px;
}
.wrap-two {
    width: 16px;
    height: 210px;
}
.wrap-one p {
    margin-top: 68px;
}
.about-contact-btn {
    padding: 8px 22px;
    font-size: 16px;
}
.footer-container h3{
	font-size: 24px;
}
.left-img{
	width: 150px;
}
.nav-list, .adress-block {
    display: none;
    font-size: 18px;
    margin-bottom: 20px;
}
	.form__title{
		font-size: 26px;
	}
	.overlay-wrap input, .overlay-wrap textarea{
		font-size: 12px;
	}

	.mail__block .adrs{
		font-size: 20px;
	}
	.send__btn{
		font-size: 12px;
	}
	.icon-block{
		justify-content: space-between;
	}
	.mail__block .mail-to{
		font-size: 25px;
	}
	.mail-to img{
		height: 20px;
	}
	.overlay-wrap{
		width: 100%;
		padding: 20px 0;
	}
	.mail__block .adrs{
		display: none;
	}
	.icon-img{
		margin-right: 0;
		width: 80%;
	}
	.wash{
		transform: translate(-40%, 12%);
	}
	.slick-slide{
		margin: 0 38px;
	}
	.contact-wrap__block{
		border: 2px solid #2e2b70;
	}
}
@media screen and (max-width: 500px){
	.wash{
		transform: translate(-40%, 17%);
	}
}
@media screen and (max-width: 400px){
	.wash{
		transform: translate(-40%, 23%);
	}

}
